@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap'); 
.modo_oscuro{
    background-color: #cd73ff;
}
.modo.normal{
    background-color: #3a3535;
}
header{
    margin: auto;
}
/*parte del medio*/
.ladoderecho{
    float: right;
    margin-right: 5%;
}
.posi1{
    display: grid;
    align-content: center;
    grid-area: main;
    background-color: #490483db;
    padding: 0% 0%;
    text-align: center;
}
.posi2{
    display: grid;
    grid-area: main1;
    background-color: #490483db;
    text-align: left;
    width: 370px;
}
.camdea{
    text-align: center;
     color: #afebff;
}
table{
    border: 1px solid;
}
body{
    margin: 0%;
    background-color: #1f1e1ef5;
}
.central{
    display: grid;
    grid-template-areas: 
    'menu vacio main main1'
    'menu vacio main main1'
    'abajo abajo abajo abajo';
    width: 1080px;
}
/*Botones de pagina*/
.numer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.numer>button{
    justify-content: center;
    margin-left: 5px;
    border-radius: 50px;
    width: 40px;
    background-color: #034353;
    height: 40px;
    border-color: #04a9df;
}
.partebaja{
    display: grid;
    grid-area: abajo;
    height: 100px;

}
.ladoiz{
    display: grid;
    grid-area: menu;
    color: #68ceff;
    border: 1px solid;
    border-color: #b54fff;
    width: 200px;
    height: 800px;
    background-color: #490483db;
    justify-items: center;
}
.ladoiz>a{
    color: #afebff;
}
a>img{
    width: 350px;
    height: 220px;
}
h1{
    text-align: center;
    color: #68ceff;
}
h2{
    text-align: center;
    color: #68ceff;
}
