@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap'); 
.modo_oscuro{
    background-color: #cd73ff;
}
.modo.normal{
    background-color: #3a3535;
}
header{
    margin: auto;
}
/*parte del maedio*/
.ladoderecho{
    float: right;
    margin-right: 5%;
}
.posi1{
    display: grid;
    align-content: center;
    grid-area: main;
    background-color: #490483db;
    padding: 0% 0%;
    text-align: center;
}
.posi2{
    display: grid;
    grid-area: main1;
    background-color: #490483db;
    text-align: left;
    width: 370px;
}
.camdea{
    text-align: center;
     color: #afebff;
}
table{
    border: 1px solid;
}
body{
    margin: 0%;
    background-color: #1f1e1ef5;
}
.central{
    display: grid;
    grid-template-areas: 
    'menu vacio main main1'
    'menu vacio main main1'
    'abajo abajo abajo abajo';
    width: 1080px;
}
.numer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.numer>button{
    justify-content: center;
    margin-left: 5px;
    border-radius: 50px;
    width: 40px;
    background-color: #034353;
    height: 40px;
    border-color: #04a9df;
}
.partebaja{
    display: grid;
    grid-area: abajo;
    height: 100px;

}
.ladoiz{
    display: grid;
    grid-area: menu;
    color: #68ceff;
    border: 1px solid;
    border-color: #b54fff;
    width: 200px;
    height: 800px;
    background-color: #490483db;
    justify-items: center;
}
.ladoiz>a{
    color: #afebff;
}
a>img{
    width: 350px;
    height: 220px;
}
h1{
    text-align: center;
    color: #68ceff;
}
h2{
    text-align: center;
    color: #68ceff;
}
.cambio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50%;
    width: 36px;
    height: 35px;
    background-color: #04a9df;
}
ul{
    list-style: none;
    margin-top: none;
}
/*Menu*/
.navbar{
    overflow: hidden;
    position: sticky;
    background-color:   #490483db;
    top: 0%;
    font-family: 'Bangers', cursive;
    font-size: larger;
}
.menu li a{
 display: block;
 color: #68ceff;
 text-decoration: none;
}
.menu >li{
 float:left;
 padding: 10px 15px;
 margin-left: 15%;
}
.menu>li:hover{
    background-color: #034353;
}
.menu li>a:hover{
       background-color: #034353;
}
.menu li ul{
    display :none;
    position: fixed;
    line-height: 20px;
    min-width: 140px;
}
.menu li:hover>ul{
    display: block;
}
@media screen and (max-width:780px ){
     header{
        margin: auto;
        padding: 5%;
        }
      body{
        background-repeat: no-repeat;
        background-image: url(Fondo/garou.jfif);
        background-color: #3a3535;
        }
      .navbar{
        overflow: hidden;
        position: static;
        }
      img {
            width: 160px;
            height: 80px;
        }
      .menu >li{
        display: block;
        margin-top: 0%;
        line-height: 0%;
        margin-left: 0%;
       }
      .menu li a{
        display: block;
        color: #ffffff;
        padding: 10px 15px;
        text-decoration: none;
       }
       .menu>li:hover{
           background-color: #034353;
       }
       .menu li>a:hover{
              background-color: #034353;
       }
       .menu li ul{
           display :none;
           position: fixed;
           min-width: 140px;
       }
       .central { 
        margin: auto;
        margin-left: 10%;
        margin-right: 5%;
        color: #ffffff;
        background-color: #530808;
    }
       
    }



