header{
    background-color: #3f7c6a;
    margin: auto;
    padding: 1.52%;
}

.navbar{
    overflow: hidden;
    position: sticky;
    top: 0%;
}
ul{
   list-style: none;
   margin-top: auto;
}
.menu li a{
 display: block;
 color: #ffffff;
 padding: 10px 15px;
 text-decoration: none;
}
.menu >li{
 float:left;
 margin-top: 0%;
 line-height: 0%;
 margin-left: 15%;
}
.menu>li:hover{
    background-color: #034353;
}
.menu li>a:hover{
       background-color: #034353;
}
.menu li ul{
    display :none;
    position: fixed;
    line-height: 20px;
    min-width: 140px;
}
.menu li:hover>ul{
    display: block;
}
body{
    margin: 0%;
    background-color: #3a3535;
}