body{
    margin:0 ;
    background-repeat: no-repeat;
    background-image:url(Fondo/2kimetsu.jpg) ;
    background-size: auto;
    background-color: #1d1c1ce0;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.formulario{
    display: block;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    margin-top: 10%;
    border-radius: 5%;
    background-color:black;
    color: white;
    width:25%;
    padding: 12px;
}
.forarri{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.forabajo{
    display: flex;
    flex-direction: column;
}
.formg{
    color: red;
}
.incorrecto{
    border-color:red;
}
.lista{
    background-color: black;
    width: 400px;
    color: red;
    font-family: cursive;
}
.normal{
    border-color: revert;
}
.lismen{
    background-color: black;
    width: 400px;
    color: rgb(255, 255, 255);
    font-family: cursive;
}
@media screen and (max-width:480px ){
    body{
      margin:0 ;
     background-repeat: no-repeat;
     background-image:url(Fondo/kimet.png) ;
     background-size: auto;
     background-color: #4b4a4a;
    }
    .formulario{
      font-family: 'Times New Roman', Times, serif;
     margin: auto;
     margin-top: 10%;
     border-radius: 5%;
     background-color: #ad1212;
     width:55%;
     padding: 30px;
     padding-left: 15px;
    }
    .tama{
        width: 108%;
    }
}