@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap'); 
header{
    background-color: #3f7c6a;
    margin: auto;
    padding: 1.52%;
    font-family: 'Bangers', cursive;
    font-size: larger;
}
body{
    margin: 0%;
    background:no-repeat;
    background-image: url(Fondo/2.png);
    background-size: cover;
    background-color: #3a3535;
}
.central{
    margin: auto;
    margin-left: 25%;
    margin-right: 30%;
    color: rgb(255, 255, 255);
    background-color: #530808;
}
.ladoiz{
    width: 10%;
    background-color: #3f7c6a;
}
img {
 width: 350px;
 height: 200px;
}
a>img:hover{
    display: block ;
}
h1{
    text-align: center;
    color: #bdb8b8;
}
ul{
    list-style: none;
    margin-top: auto;
}
 .navbar{
    overflow: hidden;
    position: sticky;
    top: 0%;
}
.menu li a{
 display: block;
 color: #ffffff;
 padding: 10px 15px;
 text-decoration: none;
}
.menu >li{
 float:left;
 margin-top: 0%;
 line-height: 0%;
 margin-left: 15%;
}
.menu>li:hover{
    background-color: #034353;
}
.menu li>a:hover{
       background-color: #034353;
}
.menu li ul{
    display :none;
    position: fixed;
    line-height: 20px;
    min-width: 140px;
}
.menu li:hover>ul{
    display: block;
}
@media screen and (max-width:480px ){
     header{
        margin: auto;
        padding: 5%;
        }
      body{
        background-color: #3a3535;
        }
      .navbar{
        overflow: hidden;
        position: static;
        }
      img {
            width: 180px;
            height: 90px;
        }
      .menu >li{
        display: block;
        margin-top: 0%;
        line-height: 0%;
        margin-left: 0%;
       }
      .menu li a{
        display: block;
        color: #ffffff;
        padding: 10px 15px;
        text-decoration: none;
       }
       .menu>li:hover{
           background-color: #034353;
       }
       .menu li>a:hover{
              background-color: #034353;
       }
       .menu li ul{
           display :none;
           position: fixed;
           min-width: 140px;
       }
       .central { 
        margin: auto;
        margin-left: 15%;
        margin-right: 5%;
        color: #ffffff;
        background-color: #530808;
    }
       
    }



