@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap'); 
.modo_oscuro{
    background-color: #cd73ff;
}
.modo.normal{
    background-color: #3a3535;
}
body{
    margin: 0%;
    background-color: #3a3535;
}
header{
    margin: auto;
}
h1{
    text-align: center;
    color: #68ceff;
}
.tabla{
    display: flex;
    border: 1px solid;
    margin: auto;
    width: 900px;
    border-color: #68ceff;
}
td{
    border: 1px solid;
    border-color: #68ceff;
}
.ilus{
    width: 100px;
    height: 140px;
}
/*MENU*/
.cambio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50%;
    width: 36px;
    height: 35px;
    background-color: #04a9df;
}
.ladoderecho{
    float: right;
    margin-right: 5%;
}
ul{
    list-style: none;
    margin-top: none;
}
.navbar{
    overflow: hidden;
    position: sticky;
    background-color:   #490483db;
    top: 0%;
    font-family: 'Bangers', cursive;
    font-size: larger;
}
.menu li a{
 display: block;
 color: #68ceff;
 text-decoration: none;
}
.menu >li{
 float:left;
 padding: 10px 15px;
 margin-left: 15%;
}
.menu>li:hover{
    background-color: #034353;
}
.menu li>a:hover{
       background-color: #034353;
}
.menu li ul{
    display :none;
    position: fixed;
    line-height: 20px;
    min-width: 140px;
}
.menu li:hover>ul{
    display: block;
}