@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap'); 
.modo_oscuro{
    background-color: #cd73ff;
}
.modo.normal{
    background-color: #3a3535;
}
body{
    margin: 0%;
    background-color: #3a3535;
}
header{
    margin: auto;
}
h1{
    text-align: center;
    color: #68ceff;
}
.textimg{
    display: grid;
    grid-template-areas: 
    'nom hist'
    'img text'
    'img text'
    ;
    background-color: #1c728fa1;
}
.historia{
    display: grid;
    grid-area: hist;
    justify-items: center;
    color: #ffffff;
    background-color: #3f095cb2;
}
.ob{
    display: grid;
    grid-area: nom;
    justify-items: center;
    color: #ffffff;
    background-color: #3f095cb2;
}
.indi{
    display: flex;
    flex-direction: column;
    background-color: #14ddd4ad;
    width: 200px;
    height: 250px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 1px solid;
}
.indi>p{
    margin: auto;
    margin-bottom: 1px;
}
.indi>hr{
    width: 199px;
    border-color: #3a3535;
}
.image{
    display: grid;
    grid-area: img;
}
.texto{
    display: grid;
    grid-area: text;
    margin-left: 20px;
    align-items: center;
}
.manga{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mangcont{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1c728fa1;
    width: 800px;
}
.modp{
    width: 700px;
    border: 2px solid;
    border-color: #68ceff;
}
.nom{
    padding: 0px;
    margin-left: 5px;
}
.nom1{
    padding: 0px;
    display: flex;
    justify-content: center;
}
.image>img{
    margin-left: 10px;
    margin-top: 10px;
    width: 130px;
    height: 170px;
}