@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap'); 
body{
    margin: 0%;
    background-color: #3a3535;
}
.imagenes{
 width: 350px;
 height: 200px;
}
h1{
    text-align: center;
    color: #bdb8b8;
}
h2{
    text-align: center;
    color: #ffffff;
}
/* carrusel */
.posi{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.posi>img{
    width: 325px;
    height: 230px;
}
/*menu*/
header{
    margin: auto;
    font-family: 'Bangers', cursive;
    font-size: larger;
}
.cambio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50%;
    width: 36px;
    height: 35px;
    background-color: #04a9df;
}
.ladoderecho{
    float: right;
    margin-right: 5%;
}
ul{
    list-style: none;
    margin-top: none;
}
.navbar{
    overflow: hidden;
    position: sticky;
    background-color: #3f7c6a;
    top: 0%;
}
.menu li a{
 display: block;
 color: #ffffff;
 text-decoration: none;
}
.menu >li{
 float:left;
 padding: 10px 15px;
 margin-left: 15%;
}
.menu>li:hover{
    background-color: #034353;
}
.menu li>a:hover{
       background-color: #034353;
}
.menu li ul{
    display :none;
    position: fixed;
    line-height: 20px;
    min-width: 140px;
}
.menu li:hover>ul{
    display: block;
}
@media screen and (max-width:780px ){
     header{
        margin: auto;
        padding: 5%;
        }
    }



