@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap'); 
.modo_oscuro{
    background-color: #cd73ff;
}
.modo.normal{
    background-color: #3a3535;
}
.nombres{
    display: flex;
    justify-content: space-around;
}
.nombres>a{
    width: 180px;
}
.galeria{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pag{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.pag>button{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: 20px;
    background-color: #034353;
    border-color: #04a9df;
}
body{
    margin: 0%;
    background-color: #1f1e1ef5;
}

h1{
    text-align: center;
    color: #bdb8b8;
}
/* carrusel */
.posi{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.posi>button{
    background-color: #59c1c96c;
    border-color: #206cddf6;
}
.posi>img{
    width: 325px;
    height: 230px;
}
@media screen and (max-width:780px ){
    /* carrusel */
.posi{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.posi>button{
    background-color: #59c1c96c;
    border-color: #206cddf6;
}
.posi>img{
    width: 275px;
    height: 180px;
}
.nombres>a{
    width: 150px;
}

.galeria>img{
    height: 180px;
    width: 100px;
}
    }



